@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');            /*font-family: 'Comfortaa', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');          /*font-family: 'Montserrat', sans-serif;*/





.logoBlock{
    display: flex;
}

.blockWithText {
    margin-top: 32px;
    margin-left: 5px;
    font-family: 'Comfortaa';
    font-size: 17px;
    line-height: 17px;
    letter-spacing: 0.155em;
    color: #4A4A4A;
    opacity: 0.9;
}


  
.navBurger {                                                                                         /*start burger menu*/                                                                       
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
  background: #111;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-clip: content-box;
  width: 30px;
  height: 24px;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.navBurger:before, .navBurger:after {
  content: "";
  position: absolute;
  background: #111;
  height: 2px;
  width: 100%;
  right: 0;
  will-change: rotate;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navBurger:before {
  top: -10px;
}

.navBurger:after {
  bottom: -10px;
  width: 90%;
}

.navBurger.active {
  background: transparent;
  background-clip: content-box;
}

.navBurger.active:before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 0;
  background: #eee;
  width: 110%;
}

.navBurger.active:after {
  bottom: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background: #eee;
  width: 110%;
}

.overlay {
  position: fixed;
  background: #4A4A4A;
  top: 0;
  right: 0;
  width: 80%;
  height: auto;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: scale(0);
          transform: scale(0);
  visibility: hidden;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  overflow: hidden;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.overlay.open li {
  display: block;
  -webkit-animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
          animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
}

.overlayMenu ul li a {
    margin-left: -20px;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    font-family: Montserrat;
    font-size: 17px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50px;
  }
  100% {
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.phoneBlock {
    display: inline-block;
    margin-top: 83px;
    margin-left: 27px;
    font-family: Montserrat;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #BEBEBE;
}

.locationBlock {
    margin-top: 15px;
    margin-left: 27px;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #E7E7E7;
    margin-bottom: 20px;
}

.locationText {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #BEBEBE;
}                                                                                  /*end burger menu*/        


.buttonNav {
    font-size: 10px;
}

nav {
    margin-top: 11px;
    margin-left: 22px;
}

.provideChernivtsi {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.013em;
    color: #4A4A4A;
}

.colorLetter {
    color: #FAC575;
}

.contentText {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #4A4A4A;
}

.lineHeight {
    margin-top: 10px;
    line-height: 2.5;
}

.quickConsultation {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 25px;
    width: 88%;
    height: 56px;
    margin: 16px 20px;
}

.quickConsultationText {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.02em;
}
